.flex-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-img img {
    max-width: 100px;
}

.title-about {
    margin: 0 0 0 100px;
    flex: auto;
}

.sub-title {
    display: flex;
    justify-content: center;
}

.about-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.menu-content {
    display: flex;
    justify-content: center
}

.section-footer {
    display: flex;
    justify-content: center;
}

.section-footer h4 {
    text-align: center;
}