/* Global Controls */
* {
    background: var(--background-primary);
}


:root {
    --background-primary: #f8f8ff;
    --primary-text: #7e8aa1;
    --text-hover: #ffdac1;
    --background-secondary: #faf6f3;
}

/* Header Section */
.flex-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
    border-bottom: 2px dashed var(--primary-text);
}

.header-img img {
    max-width: 100px;
}

.title {
    margin: 0 0 0 10%;
    flex: auto;
    font-family: "Geomanist", Helvetica, Arial, sans-serif;
    font-size:;
    color: var(--primary-text);
}

.home-return a {
    font-weight: bold;
    color: var(--primary-text);
    text-decoration: none;
    background-color: var(--text-hover);
    border-radius: 15px;
    padding: 10px;
}

.home-return a:hover {
    color: var(--text-hover);
    background-color: var(--primary-text);
}

/* Body Content */

.sub-title {
    display: flex;
    justify-content: center;
    color: var(--primary-text);
    font-size: 20px;
    background-color: var(--background-secondary);
    border: 6px solid var(--text-hover);
    border-radius: 20px;
    margin: 5%;
    margin-top: 100px;
}

.sub-title h2 {
    background-color: var(--background-secondary);
}

.body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 6px solid var(--text-hover);
    border-radius: 20px;
    margin: 5%;
    background-color: var(--background-secondary);
}

.me-photo {
    display: flex;
    justify-content: center;

}

.me-photo img {
    max-height: 200px;
    border: 6px solid var(--text-hover);
    border-radius: 50%;
}

.me-photo:hover img {
    justify-content: center;
    content: url(../images/me-2.png);
    max-height: 200px;
}

.about-main, .about-quote {
    font-size: x-large;
    font-family: "Geomanist", Helvetica, Arial, sans-serif;
    color: var(--primary-text);
    text-align: center;
    padding: 5%;
    background-color: var(--background-secondary);
}

.about-quote {
    font-size: large;
}

/* Menu Navigation */ 
.menu-nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: "Geomanist", Helvetica, Arial, sans-serif;
}

.menu-nav li {
    padding: 25px;
    font-size: 2.5vw;
    font-weight: bold;
}

.menu-nav a {
    background-color: var(--primary-text);
    color: var(--text-hover);
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
}

.menu-nav a:hover {
    background-color: var(--text-hover);
    color: var(--primary-text);
}

.menu-nav img {
    max-width: 50px;
    display: flex;
    align-items: center;
}

.leaf-png {
    height: 50%;
    padding-top: 2.5%;
}

/* Footer */
.section-footer {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.section-footer h4 {
    text-align: center;
    color: var(--primary-text);
}