/* Header */
* {
    background: #f8f8ff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo-top {
    display: flex;
    justify-content: center;
}

header h1 p {
    text-align: center;
    font-family: "Geomanist", Helvetica, Arial, sans-serif;
    color: #7e8aa1;
    margin: 0px;
}

.menu-content {
    font-family: 'oswald', sans-serif;
    padding: 0 0 0 50px;
}

.collapsible-menu {
    display: flex;
}

.collapsible-menu img {
    max-width: 40px;
}

.collapsible-menu {
    padding: 0px 30px;
}

.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}

.collapsible-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: "Geomanist", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #626d81;
}

.collapsible-menu a:hover {
    color: #ffdac1;
}

.collapsible-menu label {
    cursor: pointer;
    background: url(menu-button.png) no-repeat left center;
    background-size: 100%;
    padding: 25px;
}

input#menu {
    display: none;
}

input:checked +label {
    background-image: url(menu-button.png);
    background-size: 20% 20%;
}

.menu-content {
    display: flex;
    justify-content: space-around;
    max-height: 0;
    overflow: hidden;
    font-family: 'Oswald', sans-serif; 
    padding: 0 0 0 0;
}

/* Toggle Effect */
input:checked ~ label {
    background-image: url(close.png);
    background-size: 100%;
}
input:checked ~ .menu-content {
    max-height: 100%;
}

.hero {
    display: inline-block;
    margin: 0;
    height: 300px
}

section .border-style {
    padding: 20px;
    margin: 80px;
    border-style: solid;
    border-width: 10px;
    border-color: #626d81;
    border-radius: 25px;
    background: #626d81;
}

section h2 {
    background: #ffdac1;
    font-family: "Geomanist", Helvetica, Arial, sans-serif;
    text-align: center;
    border: 10px solid #ffdac1;
    border-radius: 25px;
    color: #626d81;
}

section .about {
    text-align: center;
    font-size: 25px;
}

section p {
    background: #626d81;
}

section h3 {
    background: #626d81;
    font-family: "Geomanist", Helvetica, Arial, sans-serif;
}

section li {
    background: #626d81;
    font-family: "Geomanist", Helvetica, Arial, sans-serif;
}

section li a {
    background: #626d81;
    font-family: "Geomanist", Helvetica, Arial, sans-serif;
}

footer {
    color: #7e8aa1;
    font-family: "Geomanist", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 12px;
    margin: 200px;
}