* {
    background: #f8f8ff;
}

#header-section {
    background: #7e8aa1;
    max-height: 100px;
    border: 10px #7e8aa1;
    border-radius: 15px;
    margin: 5px;
    padding: 15px;
    display: inline-block;
    float: left;
}

#header-section a {
    background: #7e8aa1;
}

#header-section .header-image {
    max-height: 100px;
    background: #7e8aa1;
    border-radius: 15px 0 0 15px;
}

.border-style {
    float: left;
}

h1 {
    display: inline-block;
    float: left;
    margin: 50px;
    color: #7e8aa1;
    font-family: "Geomanist", Helvetica, Arial, sans-serif;
}

ul {
    background: #7e8aa1;
}

li {
    display: inline-block;
    float: right;
    color: #7e8aa1;
    font-family: "Geomanist", Helvetica, Arial, sans-serif;
    margin: 54px;
}

li a {
    text-decoration: none;
    font-size: 32px;
}

section h2 {
    background: #ffdac1;
    font-family: "Geomanist", Helvetica, Arial, sans-serif;
    text-align: center;
    border: 10px solid #ffdac1;
    border-radius: 25px;
    color: #ffdac1;
    text-decoration: none;
    padding: 10px;
    margin: 50px 0 50px 0;
}

section h2 a {
    background: #7e8aa1;
    text-decoration: none;
    color: #ffdac1;
}

section h2 .a:hover {
    color: #f8f8ff;
}
section h2 .b:hover {
    color: #f8f8ff;
}
section h2 .c:hover {
    color: #f8f8ff;
}
section h2 a:visited {
color: #ffdac1;
}

section .border-style {
    padding: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #7e8aa1;
    border-radius: 25px;
    background: #7e8aa1;
    width: -webkit-fill-available;
}

section h2 {
    background-color: #7e8aa1;
}

section p {
    background-color: #7e8aa1;
}

li a:visited {
    color: #7e8aa1;
    text-decoration: none;
}

li a:hover {
    color: #ffdac1;
}

.menu-content .menulow li {
    text-align: center;
    margin: 0 auto;
    padding: 2px 40px 10px 40px;
}